@use '~bootstrap/scss/bootstrap';

.form-table {
  width: 100%;
  .form-item{
    width: 30%;
  }
  .form-item-input{
    width: 70%;
  }
}

.header_style{
  background-color: #FFAD90;
}

.footer_style{
  width: 100%;
  background-color: #FFAD90;
  position: sticky;
  bottom: 0;
  position: fixed;
}

body{
  padding-bottom: 200px;
}

th, td {
      border: 1px solid black; /* 1ピクセル幅の黒いボーダーを追加 */
    }