@use '~bootstrap/scss/bootstrap';

.form-table {
  width: 100%;
  .form-item{
    width: 30%;
  }
  .form-item-input{
    width: 70%;
  }
}

.header_style{
  background-color: #FFAD90;

}

.footer_style{
  width: 100%;
  background-color: #FFAD90;
  position: sticky;
  bottom: 0;
  position: fixed;
}

body{
  padding-bottom: 200px;
}

BODY{
  background-image: url("../images/hoge.jpg");

}